body{
    border:5px solid black;
    padding: 40px 150px 40px 150px;
    background-color: #f3e0e6ee;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#title {
    font-size: 80px; 
}

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

#image{
    width:400px ;
    height:400px ;
    display: block;
    box-shadow: 2px 2px 6px grey;
    border-radius:5px;
  }
.one{
    text-align:justify;
    
    font-style: bold;
}
.two{
    text-align:justify;

}

h4{
    font-size:30px;
}
p{
    font-size:18px;
}
#tribute-info{

}

 